# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# ASP.NET
*.db
*.db-shm
*.db-wal

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json

# Logs
*.log

# Others
*.vs/
TestResults/
*.swp
*.tmp
*.bak

# Dotnet tools
.dotnet/

# Variáveis de ambiente
.env*
wwwroot/
*.tar

# Terraform cache e binários
.terraform/
.terraform.lock.hcl

# State files (CUIDADO: só se usar backend remoto)
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*